@model ChatModel

<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <h3>Messages</h3>
        <div class="pre-scrollable panel-group">
            @foreach (var chatEntry in Model.ChatEntries)
            {
                <div class="panel panel-default">
                    <div class="panel-heading"><b>@chatEntry.WhoPosted</b> : @chatEntry.DatePosted</div>
                    <div class="panel-body">@chatEntry.Text</div>
                </div>
            }
        </div>
        <form asp-action="Chat" method="post" class="form-horizontal">
            <div class="input-group">
                <input asp-for="ChatText" class="form-control" placeholder="Write something here..." aria-label="Recipient's username" aria-describedby="SendMessageButton" />
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-success" id="SendMessageButton">Send</button>
                </span>
            </div>
            <div asp-validation-summary="All"></div>
        </form>
    </div>
</div>