@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-5">
        <h2>Application uses</h2>
        <ul>
            <li>Sample pages using ASP.NET Core MVC</li>
            <li>Please click on Register or Chat menu items</li>
            <li>Also use incognito window for a second user</li>
        </ul>
    </div>
</div>
